body{
	background: #EDF5FD;
}


.navbar{
	background: #008080;
}



#logo{
	color: white;
}





/*#menu{
	margin-top: -40px;
}*/

/*.nav-link{
	color: white;
}*/

#menu li > a{
	color: white;
}
#menu li > a:hover{
	color: yellow;
}
/*#menu a:active{
	color: lime;
}*/
#menu li > a.active{
	color: yellow;
}



/* INICIO */
/* Color a los bonotes de whatsapp y facebook*/

#whatsapp:hover{
	background: #25D165;
}

#facebook:hover{
	background: #1877F2;
}
/* FIN DE Color a los bonotes de whatsapp y facebook*/


.card-body{
	background: #CCE5FF;
}

#Test img{
	max-width: 300px;
	max-height: 300px;
}

/*.card-img-top{
	margin-left: 110px;
}*/

/*AULA VIRTUAL*/

/*TEST PSICOMETRICO*/
#Login_test form{
	/*background: #83D2F5 !important;*/
	/*background: #FFF04C !important;*/
	background: #D3D4D5 !important;
}

/*MODAL*/
.modal-header{
	background: #FEC92C;
}

/*.modal-body{
	background: #D3D4D5;
}*/

/*.modal-footer{
	background: #D3D4D5;
}*/


/*VER VIDEO*/
figure iframe{
	width: 45em;
	height: 35em;
}